<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>论文提交系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/css/basic.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES -->
    <link href="/css/bootstrap-fileupload.min.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/css/custom.css" rel="stylesheet" />

    <!--timeline css-->
    <link href="/css/timeline.css" rel="stylesheet" />

    <link href="/css/timelinebody.css" rel="stylesheet" />

    <link href="/css/sweetalert.css" rel="stylesheet" />

    <style type="text/css">
        .form-horizontal{
            margin-left: 5%;
        }
        .form-horizontal .row{
            /*margin-left: 5%;*/
            width: 50%;
        }
        .form-horizontal button{
            margin-right: 20px;
        }
        #main-menu h5{
            color: #aaaaaa;
        }
        .form-group{
            width: 80%;
        }
        .formRow{
            margin-left: 15px;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <h5>你好! [[${teacher.name}]]</h5>
                        </div>
                    </div>
                </li>
                <li>
                    <a  class="active-menu" th:href="@{/checkStudent}"><i class="fa fa-dashboard "></i>在读学生列表</a>
                </li>
                <li>
                    <a  th:href="@{/checkGraduatedStudent}"><i class="fa fa-dashboard "></i>历史学生列表</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-danger" th:href="@{/index}"
                       style="float: right">退出</a>
                    <a th:href="'/paperInfo/'+${studentEmail}" class="btn btn-primary" style="float: right;margin-right: 10px;">返回</a>
                    <h1 class="page-head-line">论文提交</h1>
                    <form class="form-horizontal" th:action="@{/reviseUpload}" ENCTYPE="multipart/form-data" method="post">
                        <div class="row">
                            <div class="form-group">
                                <div class="formRow">
                                    <label for="file">选择文件</label>
                                    <div id="file" class="fileupload fileupload-new" data-provides="fileupload">
                                                            <span class="btn btn-file btn-default">
                                                                <span class="fileupload-new">选择</span>
                                                                <span class="fileupload-exists">更改</span>
                                                                <input type="file" name="file">
                                                             </span>
                                        <span class="fileupload-preview"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" name="id" id="id" th:value="${id}"/>
                            <div class="form-group">
                                <div class="formRow">
                                    <label for="advice">修改意见</label>
                                    <textarea class="form-control" rows="3" name="advice" id="advice"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="formRow">
                                    <button type="submit" class="btn btn-default">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div id="footer-sec">
    &copy; 论文提交系统
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/js/bootstrap.js"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="/js/bootstrap-fileupload.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/js/custom.js"></script>
<!--<script src="/js/easyui.js"></script>-->
<script src="/js/jquery-latest.js"></script>

<script th:src="@{/js/sweetalert.min.js}"></script>

<script  th:inline="javascript">
    var warning = [[${warning}]];
    if(warning!=null){
        swal({
            title : "温馨提示",
            text : warning
        });
    }
</script>


</body>
</html>