<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>论文提交系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- BOOTSTRAP STYLES-->
        <link href="../css/bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="../css/font-awesome.css" rel="stylesheet" />
        <!--CUSTOM BASIC STYLES-->
        <link href="../css/basic.css" rel="stylesheet" />
        <!--CUSTOM MAIN STYLES-->
        <link href="../css/custom.css" rel="stylesheet" />
    <!--SweetAlert-->
    <link href="../css/sweetalert.css" rel="stylesheet" />
    <style type="text/css">
        .form-horizontal{
            margin-left: 15%;
        }
        .col-sm-2 control-label{
            margin-left: 20%;
        }
    </style>
</head>
<body>
<div class="page-header" style="margin-left: 40%;">
    <h2>论文提交系统</h2>
</div>
<div id="wrapper">
    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left:25%;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                学生注册
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:action="@{/addStudent}"  method="post">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="teacherEmail" class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="degree" name="degree">
                                <option  th:value="本科">本科</option>
                                <option  th:value="硕士">硕士</option>
                                <option  th:value="博士">博士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="teacherEmail" class="col-sm-2 control-label">导师邮箱</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="teacherEmail" name="teacherEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repassword" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="repassword" name="repassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">注册</button>
                            &nbsp &nbsp &nbsp
                            <a class="btn btn-primary" th:href="@{/index}">返回登录页面</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:inline="javascript">
    var error = [[${error}]];
    if(error!=null){
        swal({
            title : "温馨提示",
            text : error
        });
    }
</script>
</body>
</html>