<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>论文提交系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- BOOTSTRAP STYLES-->
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="../css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../css/custom.css" rel="stylesheet" />
    <!--SweetAlert-->
    <link href="../css/sweetalert.css" rel="stylesheet" />
    <style type="text/css">
        .form-horizontal{
            margin-left: 15%;
        }
        .col-sm-2 control-label{
            margin-left: 20%;
        }
        .red {
            color: red;
        }
    </style>
</head>
<body>
<div style="margin-left: 40%;">
    <h2>论文提交系统</h2>
</div>
<div id="wrapper">

    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left:25%;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                教师注册
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:action="@{/addTeacher}"  method="post">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="false-input-name"></div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="false-input-email"></div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password" name="password" >
                        </div>
                    </div>
                    <div class="false-input-password"></div>
                    <div class="form-group">
                        <label for="repassword" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="repassword" name="repassword">
                        </div>
                    </div>
                    <div class="false-input-repassword"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" id="submit">注册</button>
                            &nbsp &nbsp &nbsp
                            <a class="btn btn-primary" th:href="@{/index}">返回登录页面</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:inline="javascript">
    var error = [[${error}]];
    if(error!=null){
        swal({
            title : "温馨提示",
            text : error
        });
    }
</script>

<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/js/jquery-1.10.2.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/js/custom.js"></script>
<!--<script src="/js/easyui.js"></script>-->
<script src="/js/jquery-latest.js"></script>

<script>
    $(document).ready(function() {
            $('#name').bind('input propertychange', function (e) {
                if(!e.target.value) {
                    $('.false-input-name')[0].innerText = '姓名不能为空'
                    $(".false-input-name").addClass("red")
                    $("#submit").attr("disabled","disabled")
                    e.stopPropagation()
                }
                else {
                    $('.false-input-name')[0].innerText = null
                    $(".false-input-name").removeClass("red")
                    $("#submit").removeAttr("disabled")
                }
            })

            $('#password').bind('input propertychange', function (e) {
                if(!e.target.value || e.target.value.length < 6){
                    $('.false-input-password')[0].innerText = '密码应不小于六位'
                    $(".false-input-password").addClass("red")
                    $("#submit").attr("disabled","disabled")
                }
                // else if(e.target.value !== $('#repassword')[0].value){
                //     $('.false-input-password')[0].innerText = '请输入正确密码'
                //     $(".false-input-password").addClass("red")
                //     $("#submit").attr("disabled","disabled")
                // }
                else {
                    $('.false-input-password')[0].innerText = null
                    $(".false-input-password").removeClass("red")
                    $("#submit").removeAttr("disabled")
                }

            })

            $('#repassword').bind('input propertychange', function (e) {
                if(e.target.value !== $('#password')[0].value) {
                    $('.false-input-repassword')[0].innerText = '确认密码必须与第一次所填相同'
                    $(".false-input-repassword").addClass("red")
                    $("#submit").attr("disabled","disabled")
                }
                else {
                    $('.false-input-repassword')[0].innerText = null
                    $(".false-input-repassword").removeClass("red")
                    $("#submit").removeAttr("disabled")
                }
            })

            $('#email').bind('input propertychange', function (e) {
                if(!(/^[a-zA-Z0-9]+([._\\-]*[a-zA-Z0-9])*@([a-zA-Z0-9]+[-a-zA-Z0-9]*[a-zA-Z0-9]+.){1,63}[a-zA-Z0-9]+$/.test(e.target.value))) {
                    $('.false-input-email')[0].innerText = '请输入正确的邮箱地址'
                    $(".false-input-email").addClass("red")
                    $("#submit").attr("disabled","disabled")
                }
                else {
                    $('.false-input-email')[0].innerText = null
                    $(".false-input-email").removeClass("red")
                    $("#submit").removeAttr("disabled")
                }
            })
    });


</script>


</body>
</html>